<h1>Войти:</h1>
<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label :email, "E-mail:" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, "Пароль:" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :remember_me, "Запомнить меня:" %><br />
    <%= f.check_box :remember_me %>
  </div>
  <div class="actions">
    <%= f.submit "Вход" %>
  </div>
<% end %>

<p>Еще не регистрировались? <%= link_to "Регистрация", signup_path %></p>
