<%= form_tag(@transportation, :method => "put") do %>
  <p>
    <%= @transportation.get_area%>
    -
    <%= @transportation.get_storage %>
  </p>
  <div id="recaptca_div">
  </div>

  <% if (check_time(@transportation.get_time) != 0) %>
    <%= label_tag(:q, "Ваше предложение:") %>
    <%= text_field_tag :summa, nil %>
  <% end %>
  <%= submit_tag("Сделать ставку") %>
<% end %>