  <div class="field">
    <%= f.label :date, "Номер распоряжения:" %><br />
    <%= f.text_field :num %>
  </div>
  <div class="field">
    <%= f.label :date, "Дата перевозки:" %><br />
    <%= f.text_field :date, :class => "datepicker" %>
  </div>
  <div class="field">
    <%= f.label :time, "Время погрузки:" %><br />
    <%= f.text_field :time %>
  </div>
  <div class="field">
    <%= f.label :area, "Склад погрузки" %><br />
    <%= f.collection_select :area_id, Area.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :client, "Клиент:" %><br />
    <%= f.collection_select :client_id, Client.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :storage_dist, "Склад доставки:" %><br />
    <%= f.collection_select :city_id, City.active, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :comment, "Комментарий:" %><br />
    <%= f.text_field :comment %>
  </div>

  <div class="field">
    <%= f.label :weight, "Тоннаж:" %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :volume, "Объем(куб. м.):" %><br />
    <%= f.text_field :volume %>
  </div>
   <div class="field">
    <%= f.label :carcase, "Тип кузова:" %><br />
    <%= f.select :carcase, options_for_select([['реф', 'реф'], ['термос', 'термос'], ['тент', 'тент'] ], @transportation.carcase) %>
  </div>
   <div class="field">
    <%= f.label :start_sum, "Нач. сумма:" %><br />
    <%= f.text_field :start_sum, :readonly => true %>
  </div>
  <div class="field">
    <%= f.label :step, "Шаг:" %><br />
    <%= f.text_field :step %>
  </div>
  <div class="field">
    Сложный маршрут
    <%= f.check_box :complex_direction %><br>
    <div class="extra_fields">
      <%= f.label :extra_pay, "Доплата:" %>
      <%= f.text_field :extra_pay %>
    </div>
  </div>
  <div class="field">
    <%= f.label :cur_sum, "Лучшее предложение:" %><br />
    <%= f.text_field :cur_sum %>
  </div>
  <div class="field">
    <%= f.label :company, "Текущая компания:" %><br />
    <%= f.select(:company_id, options_from_collection_for_select(Company.company_list, :id, :name)) %>
  </div>



