  <div class="field">
    <%= f.label :date, "Номер распоряжения:" %><br />
    <%= f.text_field :num %>
  </div>
  <div class="field">
    <%= f.label :date, "Дата перевозки:" %><br />
    <%= f.datepicker :date, :dateFormat => "yy-mm-dd" %>
  </div>
  <div class="field">
    <%= f.label :time, "Время погрузки" %><br />
    <%= f.time_select :time %>
  </div>
  <div class="field">
    <%= f.label :storage_source, "Склад погрузки" %><br />
    <%= f.text_field :storage_source %>
  </div>
  <div class="field">
    <%= f.label :client, "Клиент:" %><br />
    <%= f.collection_select :client_id, Client.all, :id, :name %> 
  </div>
  <div class="field">
    <%= f.label :storage_dist, "Склад доставки:" %><br />
   
    <%= f.collection_select :storage_id, Storage.where("client_id=?", ( @transportation.client.nil? ? 1 : @transportation.client)), :id, :city %> 
  </div>
  <div class="field">
    <%= f.label :comment, "Комментарий:" %><br />
    <%= f.text_field :comment %>
  </div>

  <div class="field">
    <%= f.label :weight, "Тоннаж:" %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :volume, "Объем(куб. м.):" %><br />
    <%= f.text_field :volume %>
  </div>
   <div class="field">
    <%= f.label :carcase, "Тип кузова:" %><br />
    <%= f.select :carcase, options_for_select([['Реф', 'Реф'], ['Термос', 'Термос'], ['Тент', 'Тент'] ], 2) %>
  </div>
   <div class="field">
    <%= f.label :start_sum, "Нач. сумма:" %><br />
    <%= f.text_field :start_sum %>
  </div>
   <div class="field">
    <%= f.label :step, "Шаг:" %><br />
    <%= f.text_field :step %>
  </div>
  
  
  

