<tr class ="tr">
  <td class = "tr"><%= link_to transportation.num.nil? ? "без номера" : transportation.num, transportation %> 
  <% if manager? or is_admin? %>
    , <%= link_to "Копировать", transportation_path(transportation) + "/copy" %> </td> 
  <% end %>
  <td class = "tr"><%= transportation.date %></td> 
  <td class = "tr"><%= to_time(transportation.time) if !transportation.time.nil? %></td> 
  <td class = "tr"><%= transportation.storage_source %></td> 
  <td class = "tr"><%= transportation.client.name if !transportation.client.nil? %></td> 
  <td class = "tr"><%= transportation.storage.name if !transportation.storage.nil? %></td> 
  <td class = "tr"><%= transportation.weight %></td> 
  <td class = "tr"><%= transportation.volume %></td> 
  <td class = "tr"><%= transportation.comment %></td> 
  <td class = "tr"><%= transportation.carcase %></td> 
  <td class = "tr"><%= transportation.start_sum %></td> 
  <% if transportation.company == current_user.company %>
    <td class = "tr"><%= transportation.cur_sum %><%= link_to track_logo %></td> 
  <% else %>
    <td class = "tr"><%= transportation.cur_sum %></td> 
  <% end %>
  <td class = "tr"><%= transportation.step %></td> 
  <% if manager? or is_admin? %>
	  <td class = "tr">
		  <%= transportation.company.nil? ? "" : transportation.company.name %>
		  <% if transportation.request_abort %>
			  <br><%= link_to "Подтвердить отказ", transportation_path(transportation) + "/confirm_abort"  %> 
		<% end %>
	  </td>
  <% else %>
      <% if transportation.is_active? #Если дата меньше текущей - заявка не активна %>
        
        <% if (transportation.is_today? and !transportation.is_busy?) #завки не разобранные вчера на сегодня активны с утра%>
           <td class = "tr">
                <%= form_tag( transportation, :method => "put") do %>
                  <%= label_tag(:q, "Ваше предложение:") %>
                  <%= text_field_tag :summa, nil, :class => "datepicker" %>
                  <%= submit_tag("Ставка") %>
                <% end %>
                </td>
        <% elsif transportation.is_today? and transportation.is_busy? #от перевозки на текущую дату еще можно отказаться %>
            <td class = "tr"> <%= link_to "Запрос на отмену ставки", transportation_path(transportation) + "/request_abort"  %> </td> 
        <% else #здесь ставки на завтра, т.е. обычные %>
            
            	<% if Time.zone.now.localtime.hour < TransportationsController.trad_start_time %>
              		<td class = "tr">Торги начнуться в <%= TransportationsController.trad_start_time %>:00 МСК</td>
		<% elsif  Time.zone.now.localtime.hour == TransportationsController.trad_start_time #Штатаный ход торгов %>
			<% if transportation.company == current_user.company #Если переовзка уже компании можно сделать отказ %>
				<td class = "tr"><%= link_to "Отменить ставку", transportation_path(transportation) + "/abort"  %> </td>
			<% elsif !transportation.have_spec_price? #Если забрали по спец. цене - убрать из торгов %>
              			<td class = "tr"><%= link_to "Сделать ставку", transportation, :method => :put, :confirm => "Вы точно хотите сделать ставку?",
									      :title  => "KO" %> 
			       <% if (transportation.cur_sum.nil? or transportation.cur_sum == 0) #Если текущая сумма еще пустая, можно забрать сразу %>
				       <%= link_to "Забрать перевозку со скидкой 15%", transportation_path(transportation) + "/specprice" %>
				<% end %>
				</td>
			 <% else %>
				<td class = "tr"></td>
			 <% end %>

            	<% end %>
            <% if Time.zone.now.localtime.hour >= (TransportationsController.trad_start_time + 1) %>
              <% if transportation.company == current_user.company %>
                <td class = "tr"><%= link_to "Подтвердить заявку", transportation_path(transportation) + "/edit_conf"  %> 
                <br>
                <%= link_to "Отменить ставку", transportation_path(transportation) + "/abort"  %> </td>
              <% elsif transportation.company.nil? #Если после 15 никто не взял перевозку, предлагаем ехать за их цену%>
                 <td class = "tr">
                <%= form_tag( transportation, :method => "put") do %>
                  <%= label_tag(:q, "Ваше предложение:") %>
                  <%= text_field_tag :summa, nil, :class => "datepicker" %>
		  <%= submit_tag("Ставка") %>
		  <% end %>

	  	<% else %>
			<td class = "tr"></td>
		<% end %>
                </td>
              
            <% end %>
        <% end %>
      <% else %>
        <td class = "tr"> </td>
      <% end %>
      
  <% end %>	  
</tr>  
