<tr class ="tr">
  <td class = "tr"><%= link_to transportation.num, transportation %>, <%= link_to "Копировать", transportation_path(transportation) + "/copy" %> </td> 
  <td class = "tr"><%= transportation.date %></td> 
  <td class = "tr"><%= to_time(transportation.time) %></td> 
  <td class = "tr"><%= transportation.storage_source %></td> 
  <td class = "tr"><%= transportation.client.name if !transportation.client.nil? %></td> 
  <td class = "tr"><%= transportation.storage.name if !transportation.storage.nil? %></td> 
  <td class = "tr"><%= transportation.weight %></td> 
  <td class = "tr"><%= transportation.volume %></td> 
  <td class = "tr"><%= transportation.comment %></td> 
  <td class = "tr"><%= transportation.carcase %></td> 
  <td class = "tr"><%= transportation.start_sum %></td> 
  <% if transportation.company == current_user.company %>
    <td class = "tr"><%= transportation.cur_sum %><%= link_to track_logo %></td> 
  <% else %>
    <td class = "tr"><%= transportation.cur_sum %></td> 
  <% end %>
  <td class = "tr"><%= transportation.step %></td> 
  <% if manager? or is_admin? %>
      <td class = "tr"><%= transportation.company.nil? ? "" : transportation.company.name %></td>
  <% else %>
      <% if transportation.date >= Date.current() #Если дата меньше текущей - заявка не активна %>
        <% if ( (Time.zone.now.localtime.hour < trad_start_time)) and (transportation.is_active?) %>
          <% if Time.zone.now.localtime.hour < trad_start_time %>
            <td class = "tr">Торги начнуться в <%= trad_start_time %>:00 МСК</td>
          <% else %>
            <td class = "tr"><%= link_to "Сделать ставку", transportation, :method => :put, :confirm => "Вы точно хотите сделать ставку?",
                                              :title  => "KO" %> </td>
          <% end %>
        <% else %>
          <% if transportation.company == current_user.company %>
            <td class = "tr"><%= link_to "Подтвердить заявку", transportation_path(transportation) + "/edit_conf"  %> </td>
          <% elsif transportation.company.nil? #Если после 15 никто не взял перевозку, предлагаем ехать за их цену%>
               <td class = "tr">
              <%= form_tag( transportation, :method => "put") do %>
                <%= label_tag(:q, "Ваше предложение:") %>
                <%= text_field_tag :summa, nil, :class => "datepicker" %>
                <%= submit_tag("Ставка") %>
              </td>
              <% end %>
          <% end %>
        <% end %>
      <% else %>
        <td class = "tr"> </td>
      <% end %>
      
  <% end %>	  
</tr>  
