<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Заявки на перевозку:<%= @filter_text %></h1>
    <% if manager? or is_admin? %>
      <%= link_to new_transportation_path, :class => 'btn btn-success btn-circle btn-lg' do %>
        <i class="fa fa-plus"></i>
      <% end %>
      <%= link_to packet_loading_transportations_path,  :class => 'btn btn-primary btn-circle btn-lg' do  %>
        <i class='fa fa-arrow-down'></i>
      <% end %>
      <div id="link_to_xls">
        <%= link_to export_transportations_path, :class => 'btn btn-info btn-circle btn-lg' do %>
          <i class='fa fa-file-excel-o'></i>
        <% end %>
      </div>
    <% end %>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="row">
  <div class="col-lg-12">
    <!-- filter form -->
    <div class="panel panel-default">
        <div class="panel-heading">
            Параметры поиска
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <%= form_tag( transportations_path, :method => "get") do %>
          	<%= label_tag(:q, "Дата для отбора:") %>
          	<%= text_field_tag :datepicker, nil, :class => "datepicker" %>
          	<br><%= label_tag(:q, "Показать все заявки (по умолчанию только активные):") %>
          	<%= check_box_tag :show_all, 1 %>
          	<br><%= label_tag(:q, "Склад погрузки:") %>
          	<%= select_tag :area, options_for_select(Area.get_selector) %>Вкл. в отбор <%= check_box_tag :use_area, 1 %>
          	<br><%= submit_tag("Отобрать") %>
          <% end %>
        </div>
    </div>
    <!-- /filter form -->
    <% if @transportations %>
      <%= (paginate @transportations) %>
      <div class="panel panel-default">
        <!-- <div class="panel-heading">
            Таблица активных заявок
        </div> -->
        <!-- /.panel-heading -->
        <div class="panel-body">
          <ul class='nav nav-tabs'>
            <li class="active">
              <a data-toggle="tab" href="#current-orders" aria-expanded='false'>Текущий заявки</a>
            </li>
            <li>
              <a data-toggle="tab" href="#confirmed-orders" aria-expanded='false'>Подтвержденные заявки</a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="current-orders" class="dataTable_wrapper tab-pane fade active in">
              <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                  <tr >
                    <th >Номер распор.</th>
                    <th >Дата/время погрузки</th>
                    <!-- <th >Время погрузки</th> -->
                    <th >Склад погрузки</th>
                    <th >Клиент</th>
                    <th >Склад выгрзуки</th>
                    <th >Тоннаж/Объем</th>
                    <!-- <th >Объем</th> -->
                    <th >Примечание</th>
                    <th >Тип кузова</th>
                    <th >Нач. сумма (руб.)</th>
                    <th >Лучшее предложение (руб.)</th>
                    <th >Шаг цены </th>
                    <th >
                      <% if manager? or is_admin? %>
                        ТЭК
                      <% else %>
                        Сделать ставку
                      <% end %>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <%= render @transportations %>
                </tbody>
              </table>
            </div>
            <div id="confirmed-orders" class="dataTable_wrapper tab-pane fade">
              Нет данных
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class='no-data'> Нет заявок! </div>
    <% end %>
  </div>
</div>

<div class="rate-popup">
  <div class="rate-popup-content">
    <div class="close-popup">
      <a href=""><%= close_icon %> </a>
    </div>
    <div class="do_rate_form" >
    </div>
  </div>
</div>

