<% if manager? %>
  <%= link_to "Добавить заявку", new_transportation_path %>
  <% if manager? or is_admin? %>
    | <%= link_to "Пакетная загрузка", transportations_path+"/-1/packet" %>
    | <div id="link_to_xls"><a href=<%=transportations_path+"/-1/export" %> >Сохранить в xls</a></div>

  <% end %>
<% end %>	
<div class = "server_time" id = "server_time" ></div>
<h1>Заявки на перевозку:<%= @filter_text %></h1>
<%= form_tag( transportations_path, :method => "get") do %>
	<%= label_tag(:q, "Дата для отбора:") %>
	<%= text_field_tag :datepicker, nil, :class => "datepicker" %>
	<br><%= label_tag(:q, "Показать все заявки (по-умолчанию только активные):") %>
	<%= check_box_tag :show_all, 1 %>
	<br><%= label_tag(:q, "Склад погрузки:") %>
	<%= select_tag :area, options_for_select(Area.get_selector) %>Вкл. в отбор <%= check_box_tag :use_area, 1 %>
	<br><%= submit_tag("Отобрать") %>
<% end %>

<%= will_paginate %>
<table class="table table-striped table-bordered" border="1">
  <tr class = "tr">
    <td class = "tr">Номер распор.</td>
    <td class = "tr">Дата рейса</td>
    <td class = "tr">Время подачи ТС под погрузку</td>
    <td class = "tr">Склад погрузки</td>
    <td class = "tr">Клиент</td>
    <td class = "tr">Склад выгрзуки</td>
    <td class = "tr">Тоннаж</td>
    <td class = "tr">Объем</td>    
    <td class = "tr">Примечание</td>
    <td class = "tr">Тип кузова</td>
    <td class = "tr">Нач. сумма (руб.)</td>
    <td class = "tr">Лучшее предложение (руб.)</td>
    <td class = "tr">Шаг цены </td>
    <% if manager? or is_admin? %>
      <td class = "tr">ТЭК</td>
    <% else %>    
      <td class = "tr">Сделать ставку</td>
    <% end %>   
  </tr>
    
    <%= render @transportations %>
  
  
 </table>
<%= will_paginate %>
