Заявка № <%= @transportation.num %> | <%= link_to "Редактировать", edit_transportation_path(@transportation) %>
<table  class="profile" summary="Profile information">
  <tr>
    <td>
     <strong>Дата перевозки:</strong>
    </td>
    <td>
     <%= @transportation.date %>
    </td>
  </tr>
  <tr>
    <td>
     <strong>Время погрузки:</strong>
    </td>
    <td>
     <%= to_time(@transportation.time) unless @transportation.time.nil? %>
    </td>
  </tr>
  <tr>
    <td>
     <strong>Склад погрузки:</strong>
    </td>
    <td>
     <%= @transportation.area %>
    </td>
  </tr>
  <tr>
    <td>
     <strong>Клиент:</strong>
    </td>
    <td>
     <%= @transportation.client.name unless @transportation.client.nil? %>
    </td>
  </tr>
  <tr>
    <td>
     <strong>Склад доставки:</strong>
    </td>
    <td>
     <%= @transportation.get_storage %>
    </td>
  </tr>
  <tr>
    <td>
     <strong>Комментарий:</strong>
    </td>
    <td>
     <%= @transportation.comment %>
    </td>
  </tr>

  <tr>
    <td>
     <strong>Тоннаж:</strong>
    </td>
    <td>
     <%= @transportation.weight %>
    </td>
  </tr>
  <tr>
    <td>
     <strong>Тип кузова:</strong>
    </td>
    <td>
     <%= @transportation.carcase %>
    </td>
  </tr>
  <tr>
    <td>
     <strong>Нач. сумма:</strong>
    </td>
    <td>
     <%= @transportation.rate_summa %>
    </td>
  </tr>
  <tr>
    <td>
     <strong>Шаг торгов:</strong>
    </td>
    <td>
     <%= @transportation.step %>
    </td>
  </tr>
  <tr>
    <td>
     <strong>Тек. сумма:</strong>
    </td>
    <td>
     <%= @transportation.cur_sum %>
    </td>
  </tr>
  <tr>
    <td>
     <strong>ТЭК:</strong>
    </td>
    <td>
      <% if !@transportation.company.nil? %>
        <%= @transportation.company.name %>
      <% end %>
    </td>
  </tr>
   <tr>
    <td>
     <strong>Менеджер:</strong>
    </td>
    <td>
     <%= @transportation.user.name unless @transportation.user.nil? %>
    </td>
  </tr>
</table>




