 
<div class="form-group">
  <%= f.label :model, "Модель:" %><br />
  <%= f.text_field :model %>
</div>
<div class="form-group">
  <%= f.label :carcase, "Тип кузова" %><br />
  <%= f.text_field :carcase %>
</div>
 <div class="form-group">
  <%= f.label :statenumber, "Гос. номер" %><br />
  <%= f.text_field :statenumber %>
</div>
 <div class="form-group">
  <%= f.label :trailnumber, "Гос. номер прицепа" %><br />
  <%= f.text_field :trailnumber %>
</div>

