
 <div class="field">
    <%= f.label :company, "Компания (выберите из списка или добавте новую):" %><br />
    <%= f.collection_select :company_id, Company.all, :id, :name %><li><%= link_to "Добавить компанию", new_company_path %></li>
  </div>
  
  <div class="field">
    <%= f.label :name, "Имя(логин):" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, "Пароль:" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Подтверждение пароля:" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  

