
 
  <div class="field">
    <%= f.label :name, "Название:" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :inn, "ИНН" %><br />
    <%= f.text_field :inn %>
  </div>
  <div class="field">
    <%= f.check_box :is_freighter %><%= f.label :is_freighter, "ТЭК" %>
  </div>
