<!DOCTYPE html>
<html>
	<head>
		<title>Мой блог | <%= @title %> </title>
		<%= stylesheet_link_tag   'screen.css', 
				:media	=> 'screen, projection' %>
		<%= stylesheet_link_tag   'print.css',	
				:media	=> 'print' %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<%= yield %>

	</body>
</html>
