<!DOCTYPE html>
<html>
	<head>
		<title>Реестр перевозок | <%= @title %> </title>

    <%= render 'layouts/stylesheets' %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
			<%= render 'layouts/header' %>  
			<section class="round">
				<%= yield %>
			</section>
			<%= render 'layouts/footer' %>
		</div>

	</body>
</html>
